@import url('res/futurastd-medium.css');

html {
	color: #fff;
}

#wrap {
	width: 300px;
	min-height: 185px;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    color: rgba(255, 255, 255, 0.9);
}

table {
	text-align: left;
}

th, td {
	padding-left: 25px;
}

th {
	padding-top: 10px;
	height: 40px;
}

tr {
	font-size: 120%;
	font-family: 'Segoe UI';
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);*/
}

tr.heading {
    background-color: #43A047;
    color: rgba(255, 255, 255, 0.9);
}