body {
    overflow: hidden;
    background:none;
    display: none;
    width: 100%;
    height: 100%;
    font-family: Arial;
    background-color: none;
}
.block {
    position: absolute;
	top: 50%;
    left: 58%;
	transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 1000px;  
    padding: 15px;
}
label {
    display: block;
    color: white;
    margin-bottom: 15px;
    font-size: 20px;
}
input {
    color: white;
    background-color: black;
    border: 2px solid #444444;
    width: 98%;
    line-height: 35px;
    height: 35px;
    font-size: 20px;
    padding-left: 1%;
    resize: none;
}
input:focus {
    outline:none;
}