@font-face {
	font-family: 'Source Sans Pro', sans-serif;
    font-weight:900;
    src : url('html/SourceSansPro-Black.ttf');
}
@font-face {
	font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    src : url('html/SourceSansPro-Light.ttf');
}
html {
  width:100%;
    margin-left: auto;
    margin-right: auto;
  overflow: hidden;
    
}
#contenu {
    background-color: rgba(0, 0, 0, 0.0);
    position: absolute;
    z-index: 999998;
    width: 100%;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}
#accueil { 
    width: 910px;
    height: 671px;
    margin-top: 50vh;
    transform: translateY(-50%);
    margin-left: auto; margin-right: auto;
    background-image: url("wallpaper.png");
    background-repeat: no-repeat;
}

.info { padding-top: 140px; padding-left: 350px; display: block; position: relative; width: 550px; height: 640}
.info img { margin-left: auto; margin-right: auto; text-align: center; display: block; margin-bottom: 0px}
.paragraphe {
    padding-left: 25px;
    color: white;
    font-size: 15px;
    padding-right: 50px;
    text-align: justify;
}
.paragraphe h1 {color : #51c341; font-size: 25px; font-weight: 900; text-transform: uppercase; margin-bottom: 5px; padding: 0px; text-align: center;}
.paragraphe h2 {color : #51c341; font-size: 25px; font-weight: 900; margin-bottom: 5px; padding: 0px;}
.paragraphe p {margin: 0px; padding: 0px;}

/******************************************************/

body {
    font-family: sans-serif;
    overflow: hidden;
    display: none;
}

#cursor {
    position: absolute;
    z-index: 999999;
    display: none;
}

.dialog {
    padding: 20px
}

input:invalid {
    border-color: red;
}

form {
    margin: 0;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 10px;
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px;
    background-color: #51c341;
    border: 0;
    color: #fff;
    width: 100%;
}

button:hover {
    background-color: #38902c;
}

button:focus {
    background-color: #2d7b23;
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
