@font-face {
	font-family: 'Source Sans Pro', sans-serif;
    font-weight:900;
    src : url('html/SourceSansPro-Black.ttf');
}
@font-face {
	font-family: 'Source Sans Pro', sans-serif;
    font-weight:300;
    src : url('html/SourceSansPro-Light.ttf');
}
html {
  width:100%;
    margin-left: auto;
    margin-right: auto;
  overflow: hidden;
    
}
a {
    color: #51c341;
    text-decoration: none;
    font-weight: 900;
    position: absolute;
        top: 640px;
    display: block;
}
a:hover {
    color: #60f04c;
}
.nextpage{
    right: 20px;
    
}
.prevpage {
    right: 20px;
    
}
#contenu {
    background-color: rgba(0, 0, 0, 0.0);
    position: absolute;
    z-index: 99999;
    width: 100%;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}
#accueil { 
    width: 1240px;
    height: 671px;
    margin-top: 50vh;
    transform: translateY(-50%);
    margin-left: auto; margin-right: auto;
    background-image: url("wallpaper.png");
    background-repeat: no-repeat;
    display: none;
}
#helppage{
    width: 1240px;
    height: 818px;
    margin-top: 50vh;
    transform: translateY(-50%);
    margin-left: auto; margin-right: auto;
    transform: translateX(;165px);
    background-image: url("wallpaper_help.png");
    background-repeat: no-repeat;
    display: none;
}
.info { padding-top: 140px; padding-left: 350px; display: block; position: relative; width: 550px; height: 640}
#info2 {display: none;}
.info img { margin-left: auto; margin-right: auto; text-align: center; display: block; margin-bottom: 0px}
.paragraphe {
    margin-bottom: 20px;
    padding-left: 25px;
    color: white;
    font-size: 12px;
    padding-right: 50px;
    text-align: justify;
}
.paragraphe h1 {color : #51c341; font-size: 25px; font-weight: 900; text-transform: uppercase; margin-bottom: 5px; padding: 0px;}
.paragraphe h2 {color : #51c341; font-size: 25px; font-weight: 900; margin-bottom: 5px; padding: 0px;}
.paragraphe p {margin: 0px; padding: 0px;}
.paragraphe b {color : #51c341}
.discord {color: white; display:  block; text-align: center; padding-left: 100px;padding-right: 100px; margin:10px auto 0px auto}
.discord p { margin: 0px; padding: 0px;  font-size: 13px}
.discord h1 {color : #51c341; font-size: 25px; font-weight: 900; text-transform: uppercase;  margin: 0px; padding: 0px;background: -webkit-linear-gradient(#8fff4b, #2f904a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;}
.help h1 {font-size: 20px; margin-bottom: 3px; margin-top: 12px}
.help {margin-bottom: 0px;}
iframe {display: block; top: 133px; position:absolute;right: -330px;width: 330px;height: 535px;border: none;}
#topserveur {
    width= 440px;
    height = 330px;
}
